<div class="center">
  <p>Turbūt manote, kad Kalėdų senelis dėvi raudonai.</p>
  <h1>O kokia jūsų mėgstamiausia spalva?</h1>
  <div class="colorpicker">
    <div class="col red" ng-click="ats('spalva', 1)" ng-class="{'selected': senelis.spalva == 1}"></div>
    <div class="col blue" ng-click="ats('spalva', 2)" ng-class="{'selected': senelis.spalva == 2}"></div>
    <div class="col yellow" ng-click="ats('spalva', 3)" ng-class="{'selected': senelis.spalva == 3}"></div>
    <div class="col green" ng-click="ats('spalva', 4)" ng-class="{'selected': senelis.spalva == 4}"></div>
    <div class="col black" ng-click="ats('spalva', 5)" ng-class="{'selected': senelis.spalva == 5}"></div>
  </div>
</div>
