<div class="center">
  <p>Visi mano, kad Kalėdų Senelis nė dienos neišsiverstų be savo elfų.</p>
  <h1>O be ko dienos neįsivaizduojate jūs?</h1>
  <div class="burbuls">
    <div class="bur d1" ng-click="ats('daiktas', 1)" ng-class="{'selected': senelis.daiktas == 1}"></div>
    <div class="bur d2" ng-click="ats('daiktas', 2)" ng-class="{'selected': senelis.daiktas == 2}"></div>
    <div class="bur d3" ng-click="ats('daiktas', 3)" ng-class="{'selected': senelis.daiktas == 3}"></div>
  </div>
</div>
