<div class="center">
  <p>Galbūt galvojate, kad Kalėdų senelis vairuoja milžiniškas roges, pakinkytas elniais.</p>
  <h1>O kokiu transportu dažniausiai keliaujate jūs?</h1>
  <div class="burbuls">
    <div class="bur t1" ng-click="ats('transportas', 1)" ng-class="{'selected': senelis.transportas == 1}"></div>
    <div class="bur t2" ng-click="ats('transportas', 2)" ng-class="{'selected': senelis.transportas == 2}"></div>
    <div class="bur t3" ng-click="ats('transportas', 3)" ng-class="{'selected': senelis.transportas == 3}"></div>
    <div class="bur t4" ng-click="ats('transportas', 4)" ng-class="{'selected': senelis.transportas == 4}"></div>
  </div>
</div>
