<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body {
        background-color: {{ spalva }}
      }
    </style>
  </head>
  <body>
    {{ pavadinimas }}
  </body>
</html>
